{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/succes.css">
{% endblock %}

{% block body %}
    <p>Nous avons remarquer ta préférence pour les droids, amuse toi bien!
    A bientot.
    </p>

{% endblock %}

